<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850981120730-b9s9kp12vhkj8qusu90vgvlqpj373mf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850981120730-b9s9kp12vhkj8qusu90vgvlqpj373mf4</string>
	<key>API_KEY</key>
	<string>AIzaSyAuxqdXilVrExPd0ozsiD4O5tSRxB87AGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>850981120730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.houmiao.TeamBook</string>
	<key>PROJECT_ID</key>
	<string>teambook-e4032</string>
	<key>STORAGE_BUCKET</key>
	<string>teambook-e4032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850981120730:ios:b70899cdea783bf639d3e3</string>
	<key>DATABASE_URL</key>
	<string>https://teambook-e4032-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>